/////////////////////////////////////////////////////////////////////////// FONTS 
$font-spacing-base:           0rem !default;

$text-font-sizes: (
  xxxlarge: 1.1875rem,
  xxlarge: 1.125rem,
  xlarge: 1.0625rem,
  large: 1rem,
  small: 0.87rem,
  xsmall: 0.82rem,
  xxsmall: 0.76rem,
  xxxsmall: 0.6875rem,
  tiny: 0.625rem,
  xtiny: 0.5625rem,
);

$h1-font-size : 2rem !default;
$h2-font-size : 1.8rem !default;
$h3-font-size : 1.7rem !default;
$h4-font-size : 1.6rem !default;
$h5-font-size : 1.5rem !default;
$h6-font-size : 1.4rem !default;

$display-font-sizes: (
  1: 7.5rem,
  2: 4.3125rem,
  3: 3.75rem,
  4: 2.5rem,
  5: 2.1875rem,
  6: 2.1875rem
);

/////////////////////////////////////////////////////////////////////////// LINKS 
$link-colors: (
    primary: (
      'color': #fff,
      'hover': #000
    ),
    black: (
      'color': #000,
      'hover': #fff
    )
);

/////////////////////////////////////////////////////////////////////////// ASPECT-RATIOS 
$aspect-ratios:             100;
 
/////////////////////////////////////////////////////////////////////////// IMAGES 
$image-widths:              110;

/////////////////////////////////////////////////////////////////////////// MIN HEIGHTS 
$min-heights:               800;
 
/////////////////////////////////////////////////////////////////////////// VERTICAL HEIGHTS 
$vertical-heights:          200;
